[submodule "ROS_nodes/franka_description"]
	path = ROS_nodes/franka_description
	url = git@gitlab.inria.fr:auctus/panda/franka_description.git
[submodule "pycapacity"]
	path = pycapacity
	url = git@gitlab.inria.fr:askuric/pycapacity.git
[submodule "ROS_nodes/panda_capacity/scripts/capacity/pycapacity"]
	path = ROS_nodes/panda_capacity/scripts/capacity/pycapacity
	url = git@gitlab.inria.fr:askuric/pycapacity.git
